.container {
    display: flex;
    font-size: 22px;
    width: 800px;
    margin: auto;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

.m,
.mprevious {
    display: flex;
    flex-direction: column;
}